@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, Roboto, Arial, sans-serif;
  background: #f6f7f9;
  color: #17202a;
}
